<html>
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <button class="btn btn-light"> <a href="/your-menu">See your favorite stuff!</a></button>
            <div class="row">
              <div class="col-6">
                  <div class="card profile" style="width: 18rem;">
                      <img class="card-img-top" th:src="${item.getImage()}" width="200" height="200">
                      <div class="card-body">
                          <h5 class="card-title" th:text="${item.getName()}"></h5>
                          <p class="card-text">
                              <b><i>Price:</i></b><p th:text="${item.getPrice()}"></p><br>
                          <b><i>Description:</i></b><p th:text="${item.getDescription()}"></p><br>
                          <b><i>Type:</i></b><p th:text="${item.getType()}"></p><br>
                          </p>
                      </div>
                  </div>
              </div>
                <br><br><br>
                <div class="col-6">
                    <form th:action="@{'/comments/{id}/add' (id=${item.getId()})}" method="POST">
                        <h5>Hey, </h5><h5 th:text="${user.getName()}"></h5>
                        <i><h3>Write your comment here...</h3></i>
                        <textarea name="comment" rows="5" cols="50"></textarea><br>
                        <input type="hidden" name="username" th:value="${user.getUsername()}">
                        <input type="submit" value="Submit comment">
                    </form>
                    <br>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <h3>Comment section</h3>
                        <table class="table table-bordered table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment : ${comments}">
                                <td th:text="${comment.getUser().getUsername()}"></td>
                                <td th:text="${comment.getComment()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
</th:block>
</html>
