<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Cafe Manager</title>
</head>
<style>
    a{
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
</style>
<body>
    <div class="container mb-4">
        <div class="row">
            <b style="font-size: 50px"><i>FOOD</i></b>
            <div class="col-12" th:if="${food.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Item name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${food}" class="product">
                            <td th:text="${item.getName()}"></td>
                            <td th:text="${item.getPrice()}"></td>
                            <td th:text="${item.getDescription()}"></td>
                            <td><img th:src="${item.getImage()}" width="200" height="200"></td>

                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block >
                                    <a th:href="@{'/items/edit-form/{id}' (id=${item.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <b style="font-size: 50px"><i>DRINK</i></b>
            <div class="col-12" th:if="${drink.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Item name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${drink}" class="product">
                            <td th:text="${item.getName()}"></td>
                            <td th:text="${item.getPrice()}"></td>
                            <td th:text="${item.getDescription()}"></td>
                            <td><img th:src="${item.getImage()}" width="200" height="200"></td>

                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block >
                                    <a th:href="@{'/items/edit-form/{id}' (id=${item.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <b style="font-size: 50px"><i>DESSERT</i></b>
            <div class="col-12" th:if="${desert.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Item name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${desert}" class="product">
                            <td th:text="${item.getName()}"></td>
                            <td th:text="${item.getPrice()}"></td>
                            <td th:text="${item.getDescription()}"></td>
                            <td><img th:src="${item.getImage()}" width="200" height="200"></td>

                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block >
                                    <a th:href="@{'/items/edit-form/{id}' (id=${item.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/items/add-form" class="btn btn-block btn-dark add-product-btn">
                            Add new product
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <br>
        <br>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success btn-inline" style="display: inline-block"><i class="fa fa-shopping-cart"></i> НАПРАВИ НАРАЧКА</button>
                <button class="btn btn-warning btn-inline" style="display: inline-block"><i class="fa fa-credit-card"></i> ИЗДАДИ СМЕТКА</button>
                <button class="btn btn-danger btn-inline" style="display: inline-block"><i class="fa fa-trash"></i> ИЗБРИШИ</button>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<script type="text/javascript">
    $('.majorpoints').click(function(){
        $(this).find('.hider').toggle();
    });
</script>
</body>
</html>