<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cafe-Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    .background{
        background-image: linear-gradient(#FFC107, white, white, white, white, white);
    }
</style>
<body>
<img src="https://scontent.fskp1-1.fna.fbcdn.net/v/t1.15752-9/149062362_3017382555156720_2046722664211493964_n.jpg?_nc_cat=103&ccb=3&_nc_sid=ae9488&_nc_ohc=wIZbcncZx0YAX_NdL-m&_nc_ht=scontent.fskp1-1.fna&oh=a6a7d25ac4b8aefd42af7a75f077359f&oe=604AB6A9" alt="Header"/>
<div class="background">
<header th:replace="fragments/header.html"></header>

<section th:include="${bodyContent}">

</section>
</div>

<!-- Footer -->
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>
